<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/af286172-a398-4c5c-97fa-589985f5f184/resourcegroups/Inventai20250420184545ResourceGroup/providers/Microsoft.ContainerRegistry/registries/webServer20250420191455</ResourceId>
    <ResourceName>webServer20250420191455</ResourceName>
    <ResourceGroup>Inventai20250420184545ResourceGroup</ResourceGroup>
    <Subscription>Abonnement 1</Subscription>
    <RegistryUrl>webserver20250420191455.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>8c9d9b99-aee3-44d2-a5ef-2aaacc5ac692</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>