<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/af286172-a398-4c5c-97fa-589985f5f184/resourceGroups/Inventai20250420184545ResourceGroup/providers/Microsoft.ApiManagement/service/webServerapi2/apis/webServer2</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/af286172-a398-4c5c-97fa-589985f5f184/resourcegroups/Inventai20250420184545ResourceGroup/providers/Microsoft.Web/sites/webServer20250420192042</ResourceId>
    <ResourceGroup>Inventai20250420184545ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webserver20250420192042-bqc6a4auc8cwdchg.westus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8c9d9b99-aee3-44d2-a5ef-2aaacc5ac692</ProjectGuid>
    <PublishUrl>https://webserver20250420192042-bqc6a4auc8cwdchg.scm.westus-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>