<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/af286172-a398-4c5c-97fa-589985f5f184/resourcegroups/Inventai20250420184545ResourceGroup/providers/Microsoft.ContainerRegistry/registries/Inventai20250420185135</ResourceId>
    <ResourceName>Inventai20250420185135</ResourceName>
    <ResourceGroup>Inventai20250420184545ResourceGroup</ResourceGroup>
    <Subscription>Abonnement 1</Subscription>
    <RegistryUrl>https://inventai20250420185135.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>